<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Hangman App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="JS/knob.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./style.css">
	

</head>
<body ng-app="HangmanApp" ng-controller="GameController">
	
<p class="title">HANGMAN
</p>

	<div class="guess">
	<input class="dial" 
	data-width="200" 
	data-min="0" 
	data-displayprevious="false" 
	value={{guesses}}
	data-width="150"
    data-fgColor="#00BCD4"
    data-skin="tron"
    data-thickness=".4"
    data-displayPrevious=false
    ng-model="guesses" >
		
	</div>
	
	<div>
		<div class="correctLetter">
			<i class="correct-icon material-icons" style="font-size:60px;color:#009688;">thumb_up</i>
			
				<span class="correct" 
				 	style=""
					ng-repeat="letter in correctLettersChosen">{{letter}}</span>
			
		</div>
		
		<div class="incorrectLetter">
		<i class="incorrect-icon material-icons" style="font-size:60px;color:#E91E63;">thumb_down</i>

		 	<span class="incorrect" 
				  style="top:40px"
		 		  ng-repeat="letter in incorrectLettersChosen"><del>{{letter}}</del></span>

		</div>
	</div>

	<div class="word">{{displayWord}}</div>
	<div class="input">
		<input type="text" name="guess" ng-model="input.letter" ng-minlength="1" ng-maxlength="1" ng-pattern="/^[A-Za-z]+$/">
		
	</div>
	<button class="button" ng-click="letterChosen()">SUBMIT</button>
</body>
<script>
    $(function() {
        $(".dial").knob({
        	'min':0,
    		'max':6
        }).trigger('change');

    });
</script>
</html>